body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f6f9;
  }
  
  .app-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #2980b9;
    font-size: 24px;
    font-weight: 300;
  }
  
  .task-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #newTaskInput {
    flex: 1;
    padding: 12px 15px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    font-family: inherit;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }
  
  #addTaskBtn {
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
  }
  
  #addTaskBtn:hover {
    background-color: darken(#2980b9, 10%);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .task-item.completed {
    background-color: #eee;
  }
  
  .task-text {
    font-size: 18px;
    color: #333;
    flex: 1;
    transition: text-decoration 0.3s ease;
  }
  .edit-btn,
  .delete-btn {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .edit-btn:hover,
  .delete-btn:hover {
    background-color: #ddd;
  }
  
  .task-item.completed .task-text {
    text-decoration: line-through;
  }
  
  .filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .filter-btn.active {
    background-color: #2980b9;
    color: #fff;
  }
  
  .due-date {
    font-size: 12px;
    color: #aaa;
    margin-left: 10px;
  }
    